# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\WinSa\OneDrive\Dokumenter\RUC\Fifth semester\Software Development\Programs from class\ElectricityGridGraph\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
